/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: OperatorMono;
	src: url('/OperatorMono-Medium.otf') format('opentype');
}

body {
	background: rgba(var(--color-surface-500) / 1);
	font-family: OperatorMono;
}
